@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    IIASA - International Institute for Applied Systems Analysis<br />
    Schloßpl. 1, 2361 Laxenburg<br />
    <abbr title="Phone">P:</abbr>
    +432236 80711
</address>

<address>
    <strong>Homepage:</strong> <a href="http://www.iiasa.ac.at/">www.iiasa.ac.at</a>
</address>
